<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>rw:theme:benchdesignfree</key>
		<dict>
			<key>CreationDate</key>
			<date>2006-01-07T06:01:29Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>4B7F58BB-AEF1-44AE-B1DC-32454CF61648</string>
			<key>PageDigests</key>
			<dict>
				<key>css/colors/blue.css</key>
				<dict>
					<key>Digest</key>
					<data>
					Qq5amuP2tZ5b9IIhLq4Rew==
					</data>
					<key>Size</key>
					<integer>4086</integer>
				</dict>
				<key>css/colors/green.css</key>
				<dict>
					<key>Digest</key>
					<data>
					wTtwgsTNaLR5XRwghLww2w==
					</data>
					<key>Size</key>
					<integer>4174</integer>
				</dict>
				<key>css/colors/yellow.css</key>
				<dict>
					<key>Digest</key>
					<data>
					8P1Pq5X+WpWeubLDZyBgrQ==
					</data>
					<key>Size</key>
					<integer>4076</integer>
				</dict>
				<key>css/sidebar/sidebar_hide.css</key>
				<dict>
					<key>Digest</key>
					<data>
					htD1rv5I/sxOViGVujhMuw==
					</data>
					<key>Size</key>
					<integer>98</integer>
				</dict>
				<key>css/sidebar/sidebar_left.css</key>
				<dict>
					<key>Digest</key>
					<data>
					0YEnTudsUBmOdKPupUXlJA==
					</data>
					<key>Size</key>
					<integer>115</integer>
				</dict>
				<key>css/sidebar/sidebar_right.css</key>
				<dict>
					<key>Digest</key>
					<data>
					PI0KsrRU+U1CxE61TVGMjQ==
					</data>
					<key>Size</key>
					<integer>85</integer>
				</dict>
				<key>css/width/width_1000.css</key>
				<dict>
					<key>Digest</key>
					<data>
					a4IFNmXIBk8kejnY1En2Cw==
					</data>
					<key>Size</key>
					<integer>52</integer>
				</dict>
				<key>css/width/width_600.css</key>
				<dict>
					<key>Digest</key>
					<data>
					0oxhd2G7k3gvdu2DhFdhEg==
					</data>
					<key>Size</key>
					<integer>51</integer>
				</dict>
				<key>css/width/width_800.css</key>
				<dict>
					<key>Digest</key>
					<data>
					eELJGRHfZEaI659SSdol/Q==
					</data>
					<key>Size</key>
					<integer>51</integer>
				</dict>
				<key>css/width/width_default.css</key>
				<dict>
					<key>Digest</key>
					<data>
					2Oe7ruwZKuwM43V0SCl6fw==
					</data>
					<key>Size</key>
					<integer>50</integer>
				</dict>
				<key>images/logo.png</key>
				<dict>
					<key>Digest</key>
					<data>
					NVaVmGYnoCikAUX7x50PlA==
					</data>
					<key>Size</key>
					<integer>46856</integer>
				</dict>
				<key>images/sidebar_left_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					acU1G6fzdZw0ay3bm/vYeA==
					</data>
					<key>Size</key>
					<integer>142</integer>
				</dict>
				<key>images/top_left_grad.png</key>
				<dict>
					<key>Digest</key>
					<data>
					wFxtdGC7vqWdOzlCMTKoIg==
					</data>
					<key>Size</key>
					<integer>498</integer>
				</dict>
				<key>javascript.js</key>
				<dict>
					<key>Digest</key>
					<data>
					AgehvDhrecjm81SEjvJ7Jw==
					</data>
					<key>Size</key>
					<integer>343</integer>
				</dict>
				<key>print.css</key>
				<dict>
					<key>Digest</key>
					<data>
					UKa59R8GgxpQSzPMz+nlYA==
					</data>
					<key>Size</key>
					<integer>3753</integer>
				</dict>
				<key>styles.css</key>
				<dict>
					<key>Digest</key>
					<data>
					uFE+oggbfYWqw1qwrjq7uw==
					</data>
					<key>Size</key>
					<integer>7581</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>rw:theme:benchdesignfree</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
